amr-utils @ git+https://github.com/ablodge/amr-utils.git@be5534db1312dc7c6ba25ee50eafeb0d0f5e3f69#egg=amr_utils
antlr4-python3-runtime==4.8
attrs==21.2.0
backcall==0.2.0
cached-property==1.5.2
cdse-covid @ git+git@github.com:joecummings/cdse-covid.git@82a8cb8760c674b0d9a0d643d99da80a6dc1967c#egg=cdse_covid
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cmake==3.21.3
colorama==0.4.4
cymem==2.0.5
cytoolz==0.9.0.1
dataclasses==0.6
decorator==5.1.0
deprecation==2.1.0
dill==0.2.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
fairseq==0.8.0
fastBPE==0.1.0
h5py==3.4.0
hydra-core==1.1.1
idna==3.3
immutablecollections==0.12.0
importlib-resources==5.2.2
ipdb==0.13.9
ipython==7.28.0
jedi==0.18.0
line-profiler==3.3.1
matplotlib-inline==0.1.3
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.5
numpy==1.21.2
omegaconf==2.1.1
packaging==21.0
parso==0.8.2
Penman==1.2.1
pexpect==4.8.0
pickleshare==0.7.5
plac==0.9.6
portalocker==2.3.2
preshed==2.0.1
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.10.0
pyinstrument==4.0.4
pyparsing==2.4.7
PyYAML==6.0
regex==2018.1.10
requests==2.26.0
sacrebleu==2.0.0
six==1.16.0
smatch==1.0.4
sortedcontainers==2.4.0
spacy==2.0.16
tabulate==0.8.9
thinc==6.12.1
toml==0.10.2
toolz==0.11.1
torch==1.2.0
tqdm==4.62.3
traitlets==5.1.0
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.7
vistautils==0.24.0
wcwidth==0.2.5
wrapt==1.10.11
zipp==3.6.0